services:
  database:
    image: postgres:17
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - backend
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}"]
      interval: 3s
      timeout: 3s
      retries: 5
      start_period: 5s
    volumes:
      - data:/var/lib/postgresql/data
  backend:
    build: ./backend
    image: shuler7/find-your-pet-backend:1.0
    environment:
      - URL_DATABASE=${URL_DATABASE}
      - SECRET_KEY=${SECRET_KEY}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - EMAIL_FROM=${EMAIL_FROM}
      - APP_URL=${APP_URL}
    networks:
      - backend
      - frontend
    ports:
      - "8000:8000"
    depends_on:
      database:
        condition: service_healthy
  frontend:
    build:
      context: ./frontend
      args:
        - VITE_YMAPS_API_KEY=${VITE_YMAPS_API_KEY}
        - VITE_YMAPS_GEOSUGGEST_API_KEY=${VITE_YMAPS_GEOSUGGEST_API_KEY}
        - VITE_IMAGE_UPLOADER_API_KEY=${VITE_IMAGE_UPLOADER_API_KEY}
    image: shuler7/find-your-pet-frontend:1.0
    networks:
      - frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

networks:
  backend:
    driver: bridge
    internal: true
  frontend:
    driver: bridge
  
volumes:
  data: