footer {
    padding: 1rem 2rem;
    width: calc(100% - 4rem);
    height: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    z-index: 1;
    box-shadow: 0px -5px 10px #00000020;
}

footer > h6 {
    text-align: center;
}

#authors-link {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
#authors-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background: white;
    opacity: 0;
    translate: 0 1px;
    transition: all .25s ease;
}
#authors-link:hover::after {
    opacity: 1;
    translate: 0 0;
}



@media (max-width: 768px) {
    #authors-link::after {
        height: 1.5px;
    }
}