header {
    padding: 1rem 2rem;
    width: calc(100% - 4rem);
    height: 3rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background: color-mix(in srgb, var(--main-color), transparent 20%);
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 10px #00000010;
    transition: all .25s ease;
}

#header-logo {
    height: 100%;
    cursor: pointer;
    filter: invert(1);
}

#header-bar {
    display: flex;
    gap: 1rem;
}

.header-button {
    padding: .5rem 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all .5s ease;
}
.header-button.primary {
    border: none;
    background: var(--primary-color);
}
.header-button.primary > h6 {
    color: var(--main-color);
}
.header-button.accent {
    border: solid 2px var(--primary-color);
    background: transparent;
}
.header-button.accent > h3 {
    color: var(--primary-color);
}

.header-button.primary:hover {
    background: var(--primary-light);
}
.header-button.accent:hover {
    background: color-mix(in srgb, var(--primary-light), transparent 60%);
}