#admin-page-container {
    padding-top: 7rem;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: start;
    align-items: start;
}

#admin-page-stats-section {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.about-block {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    border-radius: 1rem;
    background: var(--main-color);
    box-shadow: 0px 2px 4px #00000010;
}

.about-block div h6, .about-block div h3 {
    text-align: center;
}

.table-section {
    width: 100%;
    overflow-x: auto;
    overflow-y: visible;
}

.admin-table {
    padding: .5rem;
    width: 100%;
    background-color: var(--main-color);
    border-radius: 1rem;
    box-shadow: 0px 5px 10px #00000010;
}

.admin-table td, .admin-table th {
    text-align: start;
    padding: .25rem .5rem;
}

.in-table {
    font-size: 0;
    display: block;
    transition: all .25s ease;
}

.in-table:hover {
    font-size: inherit;
}

.admin-table-details-column {
    display: flex;
    gap: .5rem;
    flex-direction: row-reverse;
}



@media (max-width: 768px) {
    #admin-page-container {
        padding-top: 6rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .in-table:hover {
        font-size: 0;
    }
}