#authors-page-container {
    padding: 0;
    min-height: 100dvh;
    max-height: 100dvh;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    contain: paint;
}

#authors-back {
    padding: .5rem 1rem;
    position: absolute;
    top: .5rem;
    left: .5rem;
    background: none;
}

.author-card {
    position: absolute;
    background: var(--main-color);
    border-radius: 1rem;
    padding: 1rem;
    width: 12rem;
    border: solid 2px #ffffff00;
    box-shadow: 4px 4px 2px color-mix(in srgb, var(--inverse-color), transparent 70%);
    display: flex;
    flex-direction: column;
    gap: .25rem;
    cursor: pointer;
    transition: all .5s ease;
}
.author-card:hover {
    scale: 1.1;
    box-shadow: 6px 6px 3px color-mix(in srgb, var(--inverse-color), transparent 70%);
    border: solid 2px var(--inverse-color);
}

.author-card > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("/images/mai-logo-color.png") center / cover;
    opacity: .1;
}

.author-card > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
}

#author-card-1 {
    top: 10%;
    left: 4%;
    transform: rotate(-6deg);
    animation: author-card-anim 10s infinite;
}

#author-card-2 {
    top: 10%;
    right: 4%;
    transform: rotate(4deg);
    animation: author-card-anim 10s infinite 1s;
}

#author-card-3 {
    top: 15%;
    left: 39%;
    transform: rotate(-3deg);
    animation: author-card-anim 10s infinite 2s;
}

#author-card-4 {
    bottom: 4%;
    right: 22%;
    transform: rotate(-8deg);
    animation: author-card-anim 10s infinite 3s;
}

#author-card-5 {
    bottom: 5%;
    left: 21%;
    transform: rotate(5deg);
    animation: author-card-anim 10s infinite 4s;
}

#author-card-5 > h2 {
    font-size: 1.3em;
}

@keyframes author-card-anim {
    0% {
        translate: 0 0;
    }
    50% {
        translate: 0 -1rem;
    }
    100% {
        translate: 0 0;
    }
}

.authors-page-bg-elem {
    position: absolute;
    height: 120%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    z-index: -2;
    opacity: .6;
    filter: blur(4px);
}

#bg-elem-1 {
    background-color: var(--primary-light);
    bottom: -30rem;
    right: -20rem;
    animation: bg-elem-inf 10s infinite;
}

#bg-elem-2 {
    background-color: var(--accent-light);
    top: -30rem;
    left: -10rem;
    animation: bg-elem-inf 10s infinite;
}

@keyframes bg-elem-inf {
    0% {
        opacity: .6;
    }
    50% {
        opacity: .8;
    }
    100% {
        opacity: .6;
    }
}



@media (max-width: 600px) {
    .author-card {
        width: 10rem;
        padding: 0.5rem 1rem;
    }

    #author-card-1 {
        top: 8%;
        left: 4%;
    }

    #author-card-2 {
        top: 13%;
        right: 7%;
    }

    #author-card-3 {
        top: 38%;
        left: 19%;
    }

    #author-card-4 {
        bottom: 11%;
        right: 12%;
    }

    #author-card-5 {
        bottom: 2%;
        left: 10%;
    }
}