#ad-container {
    margin-top: 2rem;
    position: relative;
    width: min(calc(100% - 8rem), 50rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#ad-container > h2 {
    margin-top: 2rem;
}

#stages-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.stage {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

.stage > h6 {
    text-align: center;
    color: var(--inverse-color);
    transition: color .5s ease;
}
.stage > h6.done {color: var(--primary-light);}
.stage > h6.active {
    font-weight: bold;
    color: var(--primary-color);}

.stage div {
    width: 0%;
    height: .2rem;
    border-radius: .1rem;
    background: var(--primary-color);
    transition: all .25s ease;
}
.stage div.active {
    width: 100%;
}

#fields-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    opacity: 0;
    animation: fields-container-appear .5s forwards;
}
@keyframes fields-container-appear {
    0% {
        translate: 0 10px;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
}

#fields-select-place {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

#fields-select-place > label {
    font-size: 1em;
    font-weight: 500;
    color: var(--inverse-color);
}

#fields-select-place .primary-button {
    flex-grow: 1;
}

#input-address {
    width: calc(100% - 3rem);
    padding: .75rem 1.5rem;
    position: relative;
    border: solid 2px color-mix(in srgb, var(--inverse-color), transparent 80%);
    border-radius: 1rem;
    font-size: 1em;
    outline: none;
    transition: all .25s ease;
}
#input-address:focus-visible {
    padding: 1rem 1.5rem;
    border: solid 2px #000;
}
#input-address.wrong-field {
    border: solid 2px red !important;
}

#input-address-suggests-container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .7px;
    border-radius: 1rem;
    background-color: var(--inverse-color);
    box-shadow: 0px 5px 10px #00000040;
}

.suggest-item {
    padding: .25rem 1rem;
    background-color: var(--main-color);
    cursor: pointer;
    transition: all .25s ease;
}
.suggest-item:hover {
    background-color: var(--secondary-color);
}

#stage-navigation-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#stage-navigation-container > button {
    width: max(30%, 6rem);
}

#create-ad-map {
    margin-top: 1rem;
    width: 100%;
    height: 25rem;
    border: solid 2px color-mix(in srgb, var(--inverse-color), transparent 80%);
    box-shadow: 0px 5px 10px #00000040;
}
#create-ad-map.wrong-field {
    border: solid 2px red !important;
}



@media (max-width: 768px) {
    #ad-container {
        width: calc(100% - 4rem);
    }

    #stages-container {
        gap: 1rem;
    }
}