#main-page-intro-section {
    margin-top: -5rem;
    padding: 4rem;
    width: calc(100% - 8rem);
    height: 70dvh;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5) 50%), url("/images/main-intro-image.webp")
    center+35%/cover;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-page-intro-section > h1 {
    font-size: max(3em, 6dvw);
    font-weight: 800;
}

#main-page-navigate-section {
    width: calc(100% - 8rem);
    display: flex;
    gap: 1rem;
}

.navigate-banner {
    padding: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-radius: 1rem;
    background: var(--main-color);
    box-shadow: 0px 2px 4px #00000010;
    cursor: pointer;
    transition: all .25s ease;
}
.navigate-banner:hover {
    background: color-mix(in srgb, var(--main-color), #000 2%);
    box-shadow: 0px 5px 10px #00000020;
}

.navigate-banner > img {
    width: 2rem;
    height: 2rem;
    filter: invert(1);
}

#main-page-about-section {
    width: calc(100% - 8rem);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.about-block {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    border-radius: 1rem;
    background: var(--main-color);
    box-shadow: 0px 2px 4px #00000010;
}

.about-block div h6, .about-block div h3 {
    text-align: center;
}



@media (max-width: 1000px) {
    #main-page-about-section {
        grid-template-columns: repeat(2, 1fr);
    }
}



@media (max-width: 768px) {
    #main-page-intro-section {
        height: 60dvh;
    }

    #main-page-navigate-section {
        margin: 0 2rem;
        width: calc(100% - 4rem);
    }

    #main-page-about-section {
        margin: 0 2rem;
        width: calc(100% - 4rem);
    }
}