.card-section {
    position: relative;
    padding: 2rem;
    width: calc(100% - 12rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--main-color);
    border-radius: 1rem;
    box-shadow: 0px 5px 10px #00000010;
}

.card-section > h5 {
    font-size: 1.25em;
    font-weight: 500;
}

#profile-card-section {
    margin-top: 2rem;
    flex-direction: row;
    gap: 2rem;
}

#profile-card-avatar {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
    border: solid 1px #00000080;
}

#profile-card-avatar > img {
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
}

#edit-avatar-button {
    padding: .5rem;
    position: absolute;
    bottom: -.25rem;
    right: -.25rem;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background: var(--primary-color);
    transition: all .25s ease;
    cursor: pointer;
}
#edit-avatar-button:hover {
    background: var(--primary-light);
}

#edit-avatar-button > img {
    width: 1rem;
    height: 1rem;
}

#profile-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-card-field {
    padding: .5rem;
    background:var(--secondary-color);
    border-radius: .5rem;
}

.profile-card-field > h6 {
    font-size: .8em;
}

.profile-card-field > h3 {
    font-weight: 500;
}

.account-field {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.account-edit-input {
    box-sizing: border-box;
    padding: .5rem .5rem .5rem 3rem;
    height: 2.5rem;
    width: 100%;
    background: color-mix(in srgb, var(--secondary-color), black 10%);
    border-radius: 1rem;
    font-size: 1em;
    font-family: system-ui;
    font-weight: 600;
    color: var(--inverse-color);
    outline: none;
    transition: all .25s ease;
    border: solid 2px #00000000;
}
.account-edit-input:focus-visible {
    border: solid 2px #000000;
}

.account-edit-button {
    position: absolute;
    left: 0;
    top: 0;
    margin: .25rem;
    padding: .5rem;
    width: 1rem;
    height: 1rem;
    border-radius: .75rem;
    transition: all .25s ease;
    cursor: pointer;
}
.account-edit-button.disabled {
    background: var(--primary-color);
}
.account-edit-button.disabled:hover {
    background: var(--primary-light);
}
.account-edit-button:not(.disabled) {
    background: #13b213;
}
.account-edit-button:not(.disabled):hover {
    background: #5edc5e;
}

.account-edit-button > img {
    width: 1rem;
    height: 1rem;
}
.account-edit-button.disabled > img {
    content: url('/icons/edit-pencil.svg');
}
.account-edit-button:not(.disabled) > img {
    content: url('/icons/check.svg');
}
