#profile-page-container {
    padding-top: 7rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.card-section {
    position: relative;
    padding: 2rem;
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--main-color);
    border-radius: 1rem;
    box-shadow: 0px 5px 10px color-mix(in srgb, var(--inverse-color), transparent 95%);
}

.card-section > h5 {
    font-size: 1.25em;
    font-weight: 500;
}

#profile-card-section {
    margin-top: 2rem;
    flex-direction: row;
    gap: 2rem;
}

#profile-card-avatar {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
    border: solid 1px #00000080;
}

#profile-card-avatar > div {
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
}

#edit-avatar-button {
    padding: .5rem;
    position: absolute;
    bottom: -.25rem;
    right: -.25rem;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background: var(--primary-color);
    transition: all .25s ease;
    cursor: pointer;
}
#edit-avatar-button:hover {
    background: var(--primary-light);
}

#edit-avatar-button > img {
    width: 1rem;
    height: 1rem;
}

#profile-card-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-grow: 1;
}

.profile-card-field {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    background:var(--secondary-color);
    border-radius: .5rem;
    flex-grow: 1;
}

.profile-card-field > img {
    width: 1.5rem;
    height: 1.5rem;
}

.profile-card-field h6 {
    font-size: .8em;
}

.profile-card-field h3 {
    font-weight: 500;
}

#account-card-row-container {
    display: flex;
    gap: 2rem;
    position: relative;
}

.profile-field-container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.profile-field {
    position: relative;
    display: flex;
    gap: .5rem;
    justify-content: space-between;
}

.profile-field-bg {
    box-sizing: border-box;
    padding: .5rem 1rem;
    min-height: 2.5rem;
    width: 100%;
    background: color-mix(in srgb, var(--secondary-color), var(--inverse-color) 10%);
    border-radius: 1rem;
    font-size: 1em;
    font-family: system-ui;
    font-weight: 600;
    color: var(--inverse-color);
    outline: none;
    transition: all .25s ease;
    border: solid 2px #00000000;
}
.profile-field-bg:focus-visible {
    border: solid 2px var(--inverse-color);
}

.profile-field-select-div {
    width: 100%;
}
.profile-field-select-div::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: calc(50% - .5rem);
    right: 1rem;
    background: url('/icons/chevron-down.svg') center;
    filter: var(--image-filter);
}

.profile-field-select {
    padding: .75rem 1.5rem;
    width: 100%;
    border: solid 2px color-mix(in srgb, var(--inverse-color), transparent 80%);
    border-radius: 1rem;
    background: var(--secondary-color);
    color: var(--inverse-color);
    font-size: 1em;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    transition: all .25s ease;
}
.profile-field-select:focus-visible {
    border: solid 2px var(--inverse-color);
}

.account-edit-button {
    padding: .5rem 1rem;
    min-height: 1.5rem;
}
.account-edit-button:not(.disabled) {
    background: #13b213 !important;
}
.account-edit-button:not(.disabled):hover {
    background: #5edc5e !important;
}

.account-edit-button.disabled > img {
    content: url('/icons/edit-pencil.svg');
}
.account-edit-button:not(.disabled) > img {
    content: url('/icons/check.svg');
}



@media (max-width: 768px) {
    #profile-page-container {
        padding-top: 6rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}



@media (max-width: 460px) {
    #profile-card-section {
        flex-direction: column;
        align-items: center;
    }

    #account-card-row-container {
        gap: 1rem;
        flex-direction: column;
    }
}