#search-ads-page-container {
    padding-bottom: 0;
    min-height: calc(100dvh - 5rem);
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}

#search-sidebar {
    padding: 1rem 2rem;
    width: 12rem;
    height: calc(100dvh - 7rem);
    position: sticky;
    top: 5rem;
    left: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    background: var(--main-color);
}

#search-container {
    padding: 1rem;
    width: calc(100% - 18rem);
    min-height: calc(100dvh - 7rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 1rem;
}

#search-bar {
    padding: .5rem;
    width: calc(100% - 1rem);
    display: flex;
    align-items: center;
    gap: .5rem;
    position: relative;
    border-radius: 1rem;
    background: color-mix(in srgb, var(--secondary-color), black 10%);
}

#search-bar > img {
    filter: invert(1);
}

#search-field {
    height: 100%;
    padding: 0 .25rem;
    background: none;
    flex-grow: 1;
    border: none;
    font-size: 1em;
    outline: none;
}

.sidebar-element {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.sidebar-element label {
    font-size: .9em;
    font-weight: 500;
}

.sidebar-element div {
    position: relative;
}

.sidebar-element div::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: calc(50% - .5rem);
    right: .5rem;
    background: url('/icons/chevron-down.svg') center;
    filter: invert(1);
    pointer-events: none;
}

.sidebar-element-field {
    padding: .5rem 1rem;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    appearance: none;
    -webkit-appearance: none;
    background: var(--secondary-color);
    font-size: .8em;
    font-weight: 500;
    font-family: system-ui;
    outline: none;
    cursor: pointer;
    transition: all .25s ease;
    border: solid 1px #00000000;
}
.sidebar-element-field:focus-visible {
    border: solid 1px #000000;
}

#switch-sidebar {
    padding: .75rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .75rem;
    background: var(--primary-color);
    cursor: pointer;
    transition: all .25s ease;
}
#switch-sidebar:hover {
    background: var(--primary-light);
}

#switch-sidebar > img {
    width: 1.5rem;
    height: 1.5rem;
}

#switch-sidebar-place-section {
    display: flex;
    border-radius: 1rem;
    background: var(--primary-light);
    position: relative;
    cursor: pointer;
}

.switch-sidebar-place-section-element {
    padding: .5rem 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    z-index: 1;
}

.switch-sidebar-place-section-element > h6 {
    font-size: .8em;
    font-weight: 500;
    color: white;
}

#switch-sidebar-place-section-active {
    position: absolute;
    width: calc(50% - .5rem);
    height: calc(100% - .5em);
    border-radius: 1.25rem;
    left: .25rem;
    top: .25rem;
    background: var(--primary-color);
    transition: all .25s ease;
}
#switch-sidebar-place-section-active.place {
    translate: calc(100% + .5rem);
}

#geoloc-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    animation: geoloc-container-appear .5s forwards;
}

@keyframes geoloc-container-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#geoloc-window {
    margin-top: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 1rem;
    animation: geoloc-window-appear 1s ease forwards;
}

@keyframes geoloc-window-appear {
    0% {
        translate: 0 -150%;
    }
    50% {
        translate: 0 -150%;
    }
    100% {
        translate: 0 0;
    }
}

.geoloc-button {
    margin-top: .5rem;
    z-index: 2;
    height: fit-content;
    box-shadow: 0px 5px 10px #00000040;
}

#geoloc-button-back:hover > img {
    translate: -2px 0;
}

#geoloc-center-window {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--main-color);
    border-radius: 1rem;
    box-shadow: 0px 5px 10px #00000040;
}

#search-ads-map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



@media (max-width: 768px) {
    #search-sidebar {
        position: fixed;
        z-index: 1;
        animation: search-sidebar-appear .5s forwards;
    }
    @keyframes search-sidebar-appear {
        0% {
            translate: -16rem 0;
        }
        100% {
            translate: 0 0;
        }
    }

    #search-container {
        width: calc(100% - 2rem);
    }

    .geoloc-button {
        padding: .5rem 1rem;
        gap: 0;
        font-size: 0;
    }
}