#signin-page-container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signin-back {
    padding: .5rem 1rem;
    position: absolute;
    top: -3rem;
    left: 0;
    background: none;
}

#signin-form {
    display: flex;
    width: min(90dvw, 60rem);
    position: relative;
    border-radius: 2rem;
    box-shadow: 0px 10px 20px #00000040;
}

#left-form {
    padding: 4rem 2rem;
    width: calc(50% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    position: relative;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    contain: paint;
}

#left-form h1 {animation: left-form-text-appear 1s forwards;}
#left-form h2 {animation: left-form-text-appear 1s .1s forwards;}
#left-form h6 {animation: left-form-text-appear 1s .2s forwards;}

@keyframes left-form-text-appear {
    0% {
        translate: 0 10px;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}

#left-form::before {
    content: '';
    position: absolute;
    height: 120%;
    aspect-ratio: 1 / 1;
    top: -70%;
    right: -20%;
    background: color-mix(in srgb, white, transparent 95%);
    border-radius: 50%;
    z-index: -1;
}

#left-form::after {
    content: '';
    position: absolute;
    height: 100%;
    aspect-ratio: 1 / 1;
    bottom: -60%;
    left: -10%;
    background: color-mix(in srgb, white, transparent 92%);
    border-radius: 50%;
    z-index: -1;
}

#right-form {
    padding: 4rem 2rem;
    width: calc(50% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background: var(--main-color);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

#right-form-toogle-container {
    padding: .5rem;
    width: 90%;
    height: fit-content;
    display: flex;
    gap: .5rem;
    position: relative;
    border-radius: 1.5rem;
    box-shadow: 0px 5px 20px #00000030;
}

.right-form-toogle-button {
    padding: .5rem 1rem;
    width: calc(50% - 2rem);
    background: none;
    border: none;
    z-index: 1;
    transition: all .5s ease;
}
.right-form-toogle-button:not(.active) {
    cursor: pointer;
}

.right-form-toogle-button > h3 {
    text-align: center;
    color: white;
}

#right-form-active-button {
    position: absolute;
    width: 50%;
    height: calc(100% - 1rem);
    background: var(--primary-color);
    border-radius: 1rem;
    transition: all .25s ease;
}
#right-form-active-button.register {
    translate: calc(100% - 1rem) 0;
}

#right-form-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    animation: right-form-fields .5s forwards;
}

@keyframes right-form-fields {
    0% {
        opacity: 0;
        translate: 0px 10px;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}

#auth-button {width: max(60%, 12rem);}

#forget-password-button {
    margin-top: -.5rem;
    position: relative;
    cursor: pointer;
}
#forget-password-button::after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background: var(--primary-color);
    translate: 0 1px;
    opacity: 0;
    transition: all .25s ease;
}
#forget-password-button:hover::after {
    translate: 0 0;
    opacity: 1;
}

#forget-password-button > h3 {
    color: var(--primary-color);
}



@media (max-width: 768px) {
    #signin-form {
        width: calc(100% - 4rem);
        flex-direction: column;
    }

    #left-form {
        width: calc(100% - 4rem);
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 0;
    }

    #right-form {
        width: calc(100% - 4rem);
        border-top-right-radius: 0;
        border-bottom-left-radius: 2rem;
    }

    #auth-button {width: 80%;}
}